-# %h2(style="padding-top: 100px;") メッセージ一覧
-# - user = User.find_by(id: @message.receive_user_id)
-# - @messages.each do |message|
-#   %div
-#     .media-left
-#       %img.media-object.img-circle{alt: "", src: gravatar_url(message.user, { size: 50 })}/
-#     .media-body
-#       %div
-#         = link_to message.user.nickname, user_path(message.user)
-#         %span.text-muted
-#           posted at #{message.created_at}
-#       %div
-#         = message.content
-#         %br/
-#         - if current_user == message.user
-#           = link_to "削除", user_message_path(current_user, message), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs'
-#     %hr/
-# %h2 メッセージ
-# = form_for message, url:{action: :create} do |f|
-#   = f.text_field :content
-#   %br/
-#   = f.submit '送信'
-# = link_to "ホームへ戻る", user_path(current_user)