

-# %form{action: "/tasks", method: "POST"}
-#   %input{name: "authenticity_token", type: "hidden", value: form_authenticity_token}/
-#   %div
-#     %label(for="task")Task Name
-#     %input#task{name: "task", required: "", type: "text"}/
-#   %div
-#     %select{name: "state"}
-#       - @status.each_with_index do |s,i|
-#         %option{value: s}= s
-#     %label Task State
-#   %div
-#     %input{name: "limit_date", required: "", type: "date"}/
-#     %label Task Limit Day
-#   %p
-#     %button{type: "submit"} create

-# - flash.each do |msg|
-#   %p= msg

.tasks
  .main-table
    %ul
      %li
        %a(href="/tasks/new")
          .post-task Share task
      %li
        %a(href="#")
          .my-page My page
  - @tasks.each do |t|
    .tasks-table
      .task-user
        %ul
          %li
            %i.far.fa-user-circle
          %li
            %a(href="#")
              .user-name= t.name
          %li.details
            %a{href: "#"}
              .ellipsis-h …
      .tasks-box
        .limit-box
          .limit-upper
            .limit LIMIT
          .limit-lower
            .limit-date= t.limit_date
        .task-box
          .task-upper
            .task TASK
            .task-data
              .task-data-inner= t.task
              .created-date= t.created_at.to_s(:datetime)
      .other-box
        %ul
          %li
            %a(href="#")
              %i.far.fa-thumbs-up
          %li
            %a(href="#")
              %i.far.fa-comment-dots
        .adjustment-box


-# %table
-#   %tbody
-#     - @tasks.each do |t|
-#       %tr
-#         %td Limit
-#         %td= t.limit_date 
-#         %td= t.name
-#         %td= simple_format(t.task)
-#         %td= t.image